<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maxcar.market.dao.ParkingFeeTotalMapper" >
  <resultMap id="BaseResultMap" type="com.maxcar.market.pojo.ParkingFeeTotal" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="market_id" property="marketId" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="INTEGER" />
    <result column="free_time" property="freeTime" jdbcType="INTEGER" />
    <result column="is_free" property="isFree" jdbcType="INTEGER" />
    <result column="beyond_time" property="beyondTime" jdbcType="INTEGER" />
    <result column="beyond_fee" property="beyondFee" jdbcType="INTEGER" />
    <result column="is_beyond" property="isBeyond" jdbcType="INTEGER" />
    <result column="fee_limit" property="feeLimit" jdbcType="INTEGER" />
    <result column="is_limit" property="isLimit" jdbcType="INTEGER" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="insert_operator" property="insertOperator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_operator" property="updateOperator" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, market_id, car_type, free_time, is_free, beyond_time, beyond_fee, is_beyond, 
    fee_limit, is_limit, is_valid, insert_time, insert_operator, update_time, update_operator, 
    remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.maxcar.market.pojo.ParkingFeeTotalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from parking_fee_total
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from parking_fee_total
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from parking_fee_total
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.maxcar.market.pojo.ParkingFeeTotalExample" >
    delete from parking_fee_total
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maxcar.market.pojo.ParkingFeeTotal" >
    insert into parking_fee_total (id, market_id, car_type, 
      free_time, is_free, beyond_time, 
      beyond_fee, is_beyond, fee_limit, 
      is_limit, is_valid, insert_time, 
      insert_operator, update_time, update_operator, 
      remark)
    values (#{id,jdbcType=VARCHAR}, #{marketId,jdbcType=VARCHAR}, #{carType,jdbcType=INTEGER}, 
      #{freeTime,jdbcType=INTEGER}, #{isFree,jdbcType=INTEGER}, #{beyondTime,jdbcType=INTEGER}, 
      #{beyondFee,jdbcType=INTEGER}, #{isBeyond,jdbcType=INTEGER}, #{feeLimit,jdbcType=INTEGER}, 
      #{isLimit,jdbcType=INTEGER}, #{isValid,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{insertOperator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.maxcar.market.pojo.ParkingFeeTotal" >
    insert into parking_fee_total
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="marketId != null" >
        market_id,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="freeTime != null" >
        free_time,
      </if>
      <if test="isFree != null" >
        is_free,
      </if>
      <if test="beyondTime != null" >
        beyond_time,
      </if>
      <if test="beyondFee != null" >
        beyond_fee,
      </if>
      <if test="isBeyond != null" >
        is_beyond,
      </if>
      <if test="feeLimit != null" >
        fee_limit,
      </if>
      <if test="isLimit != null" >
        is_limit,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="insertOperator != null" >
        insert_operator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateOperator != null" >
        update_operator,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="marketId != null" >
        #{marketId,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=INTEGER},
      </if>
      <if test="freeTime != null" >
        #{freeTime,jdbcType=INTEGER},
      </if>
      <if test="isFree != null" >
        #{isFree,jdbcType=INTEGER},
      </if>
      <if test="beyondTime != null" >
        #{beyondTime,jdbcType=INTEGER},
      </if>
      <if test="beyondFee != null" >
        #{beyondFee,jdbcType=INTEGER},
      </if>
      <if test="isBeyond != null" >
        #{isBeyond,jdbcType=INTEGER},
      </if>
      <if test="feeLimit != null" >
        #{feeLimit,jdbcType=INTEGER},
      </if>
      <if test="isLimit != null" >
        #{isLimit,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertOperator != null" >
        #{insertOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null" >
        #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maxcar.market.pojo.ParkingFeeTotalExample" resultType="java.lang.Integer" >
    select count(*) from parking_fee_total
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update parking_fee_total
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.marketId != null" >
        market_id = #{record.marketId,jdbcType=VARCHAR},
      </if>
      <if test="record.carType != null" >
        car_type = #{record.carType,jdbcType=INTEGER},
      </if>
      <if test="record.freeTime != null" >
        free_time = #{record.freeTime,jdbcType=INTEGER},
      </if>
      <if test="record.isFree != null" >
        is_free = #{record.isFree,jdbcType=INTEGER},
      </if>
      <if test="record.beyondTime != null" >
        beyond_time = #{record.beyondTime,jdbcType=INTEGER},
      </if>
      <if test="record.beyondFee != null" >
        beyond_fee = #{record.beyondFee,jdbcType=INTEGER},
      </if>
      <if test="record.isBeyond != null" >
        is_beyond = #{record.isBeyond,jdbcType=INTEGER},
      </if>
      <if test="record.feeLimit != null" >
        fee_limit = #{record.feeLimit,jdbcType=INTEGER},
      </if>
      <if test="record.isLimit != null" >
        is_limit = #{record.isLimit,jdbcType=INTEGER},
      </if>
      <if test="record.isValid != null" >
        is_valid = #{record.isValid,jdbcType=INTEGER},
      </if>
      <if test="record.insertTime != null" >
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.insertOperator != null" >
        insert_operator = #{record.insertOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateOperator != null" >
        update_operator = #{record.updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update parking_fee_total
    set id = #{record.id,jdbcType=VARCHAR},
      market_id = #{record.marketId,jdbcType=VARCHAR},
      car_type = #{record.carType,jdbcType=INTEGER},
      free_time = #{record.freeTime,jdbcType=INTEGER},
      is_free = #{record.isFree,jdbcType=INTEGER},
      beyond_time = #{record.beyondTime,jdbcType=INTEGER},
      beyond_fee = #{record.beyondFee,jdbcType=INTEGER},
      is_beyond = #{record.isBeyond,jdbcType=INTEGER},
      fee_limit = #{record.feeLimit,jdbcType=INTEGER},
      is_limit = #{record.isLimit,jdbcType=INTEGER},
      is_valid = #{record.isValid,jdbcType=INTEGER},
      insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      insert_operator = #{record.insertOperator,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_operator = #{record.updateOperator,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maxcar.market.pojo.ParkingFeeTotal" >
    update parking_fee_total
    <set >
      <if test="marketId != null" >
        market_id = #{marketId,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=INTEGER},
      </if>
      <if test="freeTime != null" >
        free_time = #{freeTime,jdbcType=INTEGER},
      </if>
      <if test="isFree != null" >
        is_free = #{isFree,jdbcType=INTEGER},
      </if>
      <if test="beyondTime != null" >
        beyond_time = #{beyondTime,jdbcType=INTEGER},
      </if>
      <if test="beyondFee != null" >
        beyond_fee = #{beyondFee,jdbcType=INTEGER},
      </if>
      <if test="isBeyond != null" >
        is_beyond = #{isBeyond,jdbcType=INTEGER},
      </if>
      <if test="feeLimit != null" >
        fee_limit = #{feeLimit,jdbcType=INTEGER},
      </if>
      <if test="isLimit != null" >
        is_limit = #{isLimit,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertOperator != null" >
        insert_operator = #{insertOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null" >
        update_operator = #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maxcar.market.pojo.ParkingFeeTotal" >
    update parking_fee_total
    set market_id = #{marketId,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=INTEGER},
      free_time = #{freeTime,jdbcType=INTEGER},
      is_free = #{isFree,jdbcType=INTEGER},
      beyond_time = #{beyondTime,jdbcType=INTEGER},
      beyond_fee = #{beyondFee,jdbcType=INTEGER},
      is_beyond = #{isBeyond,jdbcType=INTEGER},
      fee_limit = #{feeLimit,jdbcType=INTEGER},
      is_limit = #{isLimit,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      insert_operator = #{insertOperator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_operator = #{updateOperator,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>