<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maxcar.base.dao.CityMapper" >
  <resultMap id="BaseResultMap" type="com.maxcar.base.pojo.City" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, province, name, pinyin, level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.maxcar.base.pojo.City" >
    insert into city (id, province, name, 
      pinyin, level)
    values (#{id,jdbcType=INTEGER}, #{province,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{pinyin,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.maxcar.base.pojo.City" >
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
      <if test="level != null" >
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maxcar.base.pojo.City" >
    update city
    <set >
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maxcar.base.pojo.City" >
    update city
    set province = #{province,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      pinyin = #{pinyin,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
	<select id="getCity" parameterType="java.lang.Integer"
		resultType="com.maxcar.base.pojo.City">
		select
		<include refid="Base_Column_List"></include>
		from city where province = #{province};
	</select> 
	
	<select id="getProvinceAndCity" resultType="java.lang.String" parameterType="java.lang.String">
		select CONCAT(b.name,'-',a.name) 'provinceCity' from city a 
		LEFT JOIN province b on a.province=b.id where a.id=#{cityId}
	</select>
</mapper>